@import url('https://font.sec.miui.com/font/css?family=MiSans:400:Chinese_Simplify,Latin&display=swap');
@import 'tailwindcss';

@layer base {
  html,
  body,
  #app {
    font-family: 'MiSans', sans-serif;
  }
}
